:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
    background: linear-gradient(135deg, #1ed760, #242424);
    background-size: 200% 200%;
    animation: wave 6s infinite linear;
    color: #fff;
}

h1 {
    font-size: 3em;
    line-height: 1.1;
    color: #1db954;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-out;

    /* Ombre externe pour un effet de contour */
    text-shadow: 
        -1px -1px 2px rgba(182, 238, 171, 0.7), /* Ombre en haut à gauche */
         1px -1px 2px rgba(182, 238, 171, 0.7), /* Ombre en haut à droite */
        -1px  1px 2px rgba(182, 238, 171, 0.7), /* Ombre en bas à gauche */
         1px  1px 2px rgba(0, 0, 0, 0.7), /* Ombre en bas à droite */
         0px  0px 10px rgba(29, 185, 84, 0.6); /* Effet de glow autour du texte */
}


#profile {
    background: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    border-radius: 15px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    animation: slideUp 0.8s ease-out;
    max-height: 500px;
    overflow-y: auto;
}

#profile h2 {
    font-size: 1.8em;
    color: #1db954;
    margin-bottom: 15px;
}

#avatar img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 10px 0 15px;
    border: 3px solid #1db954;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    animation: pulse 2s infinite;
}

.top-tracks {
    display: flex;
    flex-direction: column;
    gap: 25px; /* Augmente l'espace entre les éléments */
    margin-top: 20px;
    padding-right: 10px;
}

.track {
    display: flex;
    align-items: center;
    gap: 20px; /* Augmente l'espace entre les éléments de la piste */
    padding: 15px;
    background-color: #333;
    border-radius: 8px;
    transform: scale(1);
    transition: transform 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    animation: fadeInTrack 0.5s ease forwards;
}
.track:hover {
    transform: scale(1.05);
    background-color: #444;
}

@keyframes fadeInTrack {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.rank {
    font-size: 1.8em;
    font-weight: bold;
    color: #1db954;
    min-width: 50px;
    text-align: center;
}

.track-info {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
}

.album-cover {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    animation: slowZoom 10s infinite ease-in-out; /* Animation lente par défaut */
    transition: transform 0.3s ease;
}

.track:hover .album-cover {
    animation: fastZoom 1s infinite ease-in-out; /* Animation rapide au survol */
}

@keyframes slowZoom {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

@keyframes fastZoom {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: #fff;
    cursor: pointer;
    transition: border-color 0.25s, transform 0.3s;
  }
  button:hover {
    border-color: #646cff;
    transform: scale(1.05);
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  #Artists{
    margin-left: -60vw !important;
    margin-bottom: 2vh;
    animation: pulse 1.5s infinite;

  }
  
.track-name {
    font-size: 1.2em;
    font-weight: bold;
    color: #e1e1e1;
}

.artist-name {
    font-size: 0.9em;
    color: #ccc;
    margin-top: 4px;
}

@keyframes wave {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
}

#div-profile-img{
    width: 10vw;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    position: absolute;
    top : 10px;
    right : 10px;
    background-color: #1db954;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    animation: pulse 10s infinite;
       
}



#div-profile-img img{
    width: 10vw;
    height: auto;

}
    
    .category {
        background: rgba(0, 0, 0, 0.7);
        padding: 1.5rem;
        border-radius: 10px;
        max-width: 500px;
        margin: 20px auto;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        animation: fadeIn 0.8s ease-out;
        color: #201e1e;
    }

    .category h2 {
        font-size: 1.5em;
        color: #1db954;
        margin-bottom: 10px;
    }

    .category p, .category a {
        font-size: 1em;
        color: #e1e1e1;
        margin: 5px 0;
    }

    .category a {
        text-decoration: none;
        color: #1db954;
        transition: color 0.3s ease;
    }

    .category a:hover {
        color: #1ed760;
    }